<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd  
           http://www.springframework.org/schema/context  
           http://www.springframework.org/schema/context/spring-context-3.0.xsd  
           http://www.springframework.org/schema/aop  
           http://www.springframework.org/schema/aop/spring-aop-3.0.xsd  
           http://www.springframework.org/schema/tx   
           http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
           http://www.springframework.org/schema/mvc
           http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">
	
	<bean id="memClient" class="org.xie.memcached.client.MemcachedCache"></bean>
	<bean id="aimpl" class="org.xie.service.Service_A_impl"></bean>
	<bean id="bimpl" class="org.xie.service.Service_B_impl"></bean>
	
	<bean id="memDefault" class="org.xie.framework.memcached.spring.MemcachedDefault">
		<property name="cached" ref="memClient"></property>
	</bean>
	
	<bean id="cacheAop" class="org.xie.framework.memcached.spring.GetCacheAop">
	<property name="cacheSupport" ref="memDefault"></property>
	</bean>
	<aop:aspectj-autoproxy proxy-target-class="true"/> <!-- cglib代理开启 -->
	<aop:config>
	
		<aop:aspect id="myAspect" ref="cacheAop">
			<aop:pointcut id="businessService" expression="execution(* org.xie.service.*.*(..))" />
			<aop:around pointcut-ref="businessService" method="ProxyInvoke" />
		</aop:aspect>
	
	</aop:config>
	<!-- 
	<bean id="aspectBean" class="org.xie.aop.test.AspectTest">
		<property name="cache" ref="memClient"></property>
	</bean>

	 <bean id="mutlClass" class="org.xie.aop.test.MutlClass"></bean>
	
	<aop:config> 
		<aop:aspect id="TestAspect" ref="aspectBean">
		
			<aop:pointcut id="businessService" expression="execution(* org.xie.service.*.*(..))" />
			<aop:before pointcut-ref="businessService" method="doBefore"/> <aop:after 
				pointcut-ref="businessService" method="doAfter"/> 
			<aop:around pointcut-ref="businessService" method="doAround" />
			<aop:after-throwing pointcut-ref="businessService"
				method="doThrowing" throwing="ex" />
		</aop:aspect>

		<aop:aspect id="mutlMethod" ref="mutlClass">
		<aop:pointcut id="mutlService" expression="execution(* org.xie.service.*.*(..))" />
		<aop:around pointcut-ref="mutlService" method="around" /> 
		</aop:aspect>

	</aop:config> -->

</beans>